@charset "UTF-8";
#text1 {
	width: 100%;
	height: 100%;
	float: center;
	margin-top: 200px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
}

.vnum {
	float: right;
}

.im {
	width: 700ppx;
	height: 900px;
}

.con {
	font-size: 30px
}